h1{
	color: fuchsia;
	font-size: 105px;
	text-align: center;
}

h2{
	color: aqua;
	font-size: 50px;
	text-align: center;
}
table, th, td {
	border: 1px solid red;
	text-align: center;
	font-size: 20px;
}
th {
	color: blue;
}
td {
	font-size: 15px;
	color: yellow;
}
table {
	width: 1500px;
	height: 500px;
}
body {
	background-image: url(https://mystaarryytoks.files.wordpress.com/2013/02/planets.jpg);
	background-attachment: fixed;
}

